openapi: 3.2.0
info:
  description: Treasure Workflow
  title: Treasure Workflow API
  version: '1.0'
servers:
- description: aws
  url: https://api-workflow.treasuredata.com
- description: aws-tokyo
  url: https://api-workflow.treasuredata.co.jp
- description: eu01
  url: https://api-workflow.eu01.treasuredata.com
- description: ap02
  url: https://api-workflow.ap02.treasuredata.com
- description: ap03
  url: https://api-workflow.ap03.treasuredata.com
security:
- ApiKeyAuth: []
tags:
- name: Workflow
paths:
  /api/workflows:
    get:
      operationId: getWorkflowDefinitions
      parameters:
      - description: pagination. return workflows which id are greater than last_id with order 'asc', which id are less than the last_id with order 'desc'
        in: query
        name: last_id
        schema:
          type: integer
          format: int64
      - description: number of workflows to return
        in: query
        name: count
        schema:
          type: integer
          format: int32
      - description: Sort order. 'asc' or 'desc'
        in: query
        name: order
        schema:
          type: string
          default: asc
      - description: name pattern to be partially matched
        in: query
        name: name_pattern
        schema:
          type: string
      - description: name pattern to be partially matched
        in: query
        name: search_project_name
        schema:
          type: boolean
          default: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestWorkflowDefinitionCollection'
          description: default response
      summary: List workflows
      tags:
      - Workflow
  /api/workflows/{id}:
    get:
      operationId: getWorkflowDefinition
      parameters:
      - description: workflow id
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestWorkflowDefinition'
          description: default response
      summary: Get a workflow
      tags:
      - Workflow
  /api/workflows/{id}/truncated_session_time:
    get:
      operationId: getWorkflowTruncatedSessionTime
      parameters:
      - description: workflow id
        in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
      - description: session time to be truncated
        in: query
        name: session_time
        required: true
        schema:
          type: string
      - description: truncation mode - second, minute, hour, day, schedule, or next_schedule
        in: query
        name: mode
        schema:
          type: string
          enum:
          - second
          - minute
          - hour
          - day
          - schedule
          - next_schedule
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestWorkflowSessionTime'
          description: default response
      summary: Get truncated local time based on the time zone of a workflow
      tags:
      - Workflow
components:
  schemas:
    IdAndName:
      type: object
      description: Name and ID
      properties:
        id:
          type: string
          description: ID
          example: '123456'
        name:
          type: string
          description: name
          example: abcdefg
      required:
      - id
      - name
    RestWorkflowDefinitionCollection:
      type: object
      properties:
        workflows:
          type: array
          items:
            $ref: '#/components/schemas/RestWorkflowDefinition'
    RestWorkflowDefinition:
      type: object
      description: Response of a workflow definition
      properties:
        config:
          type: object
        id:
          type: string
          description: workflow definition ID
          example: '123456'
        name:
          type: string
          description: workflow name
          example: wf-123
        project:
          $ref: '#/components/schemas/IdAndName'
        revision:
          type: string
          description: revision
        timezone:
          type: string
          description: timezone
          example: UTC
      required:
      - id
      - name
      - project
      - revision
      - timezone
    RestWorkflowSessionTime:
      type: object
      description: Response of truncated_session_time API of workflows
      properties:
        project:
          $ref: '#/components/schemas/IdAndName'
        revision:
          type: string
          description: revision
          example: rev-20230101-1
        sessionTime:
          type: string
          description: session time
          example: '2022-12-31T23:59:00+00:00'
        timezone:
          type: string
          description: timezone
          example: UTC
      required:
      - project
      - revision
      - sessionTime
      - timezone
  securitySchemes:
    ApiKeyAuth:
      scheme: TD1
      type: http
