openapi: 3.2.0
info:
  title: llm-api Presentation Artifact Tool API
  version: 1.0.0
servers:
- url: https://llm-api.treasuredata.com
- url: https://llm-api.eu01.treasuredata.com
- url: https://llm-api.ap02.treasuredata.com
- url: https://llm-api.treasuredata.co.jp
security:
- ApiKeyAuth: []
tags:
- name: PresentationArtifactTool
paths:
  /api/presentation_artifact_tools:
    post:
      summary: create
      tags:
      - PresentationArtifactTool
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      properties:
                        projectId:
                          type: string
                        name:
                          type: string
                      required:
                      - projectId
                      - name
                  required:
                  - type
                  - attributes
              required:
              - data
            example:
              data:
                type: presentationArtifactTools
                attributes:
                  projectId: 00000000-0000-0000-0000-000000000001
                  name: Sample Slide Generator
      responses:
        '201':
          description: creates a new PresentationArtifactTool
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          projectId:
                            type: string
                          name:
                            type: string
                          isManaged:
                            type: boolean
                        required:
                        - createdAt
                        - updatedAt
                        - projectId
                        - name
                        - isManaged
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: presentationArtifactTools
                  links:
                    self: http://www.example.com/api/presentation_artifact_tools/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    projectId: 00000000-0000-0000-0000-000000000001
                    name: Sample Slide Generator
                    isManaged: false
        '400':
          description: POST /api/presentation_artifact_tools rejects {"updatedAt":1}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Param not allowed
                  detail: updatedAt is not allowed.
                  code: '105'
                  status: '400'
        '422':
          description: POST /api/presentation_artifact_tools rejects {"name":""}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                          - pointer
                        status:
                          type: string
                        meta:
                          type: object
                          properties:
                            validationCode:
                              type: string
                          required:
                          - validationCode
                      required:
                      - title
                      - detail
                      - code
                      - source
                      - status
                      - meta
                required:
                - errors
              example:
                errors:
                - title: can't be blank
                  detail: name - can't be blank
                  code: '100'
                  source:
                    pointer: /data/attributes/name
                  status: '422'
                  meta:
                    validationCode: CANNOT_BE_BLANK
                - title: can't be blank
                  detail: toolTarget/name - can't be blank
                  code: '100'
                  source:
                    pointer: /data/attributes/toolTarget/name
                  status: '422'
                  meta:
                    validationCode: CANNOT_BE_BLANK
  /api/presentation_artifact_tools/{id}:
    delete:
      summary: destroy
      tags:
      - PresentationArtifactTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '204':
          description: deletes a PresentationArtifactTool
    get:
      summary: show
      tags:
      - PresentationArtifactTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '200':
          description: retrieves a PresentationArtifactTool
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          projectId:
                            type: string
                          name:
                            type: string
                          isManaged:
                            type: boolean
                        required:
                        - createdAt
                        - updatedAt
                        - projectId
                        - name
                        - isManaged
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: presentationArtifactTools
                  links:
                    self: http://www.example.com/api/presentation_artifact_tools/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    projectId: 00000000-0000-0000-0000-000000000001
                    name: TestSlideGen
                    isManaged: false
        '404':
          description: returns 404 when PresentationArtifactTool doesn't exist
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Record not found
                  detail: The record identified by 00000000-0000-0000-0000-000000000001 could not be found.
                  code: '404'
                  status: '404'
    patch:
      summary: update
      tags:
      - PresentationArtifactTool
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '200':
          description: updates a PresentationArtifactTool
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          projectId:
                            type: string
                          name:
                            type: string
                          isManaged:
                            type: boolean
                        required:
                        - createdAt
                        - updatedAt
                        - projectId
                        - name
                        - isManaged
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: presentationArtifactTools
                  links:
                    self: http://www.example.com/api/presentation_artifact_tools/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    projectId: 00000000-0000-0000-0000-000000000001
                    name: Updated Slide Generator
                    isManaged: false
        '400':
          description: PATCH /api/presentation_artifact_tools rejects {"updatedAt":1}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Param not allowed
                  detail: updatedAt is not allowed.
                  code: '105'
                  status: '400'
        '422':
          description: PATCH /api/presentation_artifact_tools rejects {"name":""}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                          - pointer
                        status:
                          type: string
                        meta:
                          type: object
                          properties:
                            validationCode:
                              type: string
                          required:
                          - validationCode
                      required:
                      - title
                      - detail
                      - code
                      - source
                      - status
                      - meta
                required:
                - errors
              example:
                errors:
                - title: can't be blank
                  detail: name - can't be blank
                  code: '100'
                  source:
                    pointer: /data/attributes/name
                  status: '422'
                  meta:
                    validationCode: CANNOT_BE_BLANK
                - title: can't be blank
                  detail: toolTarget/name - can't be blank
                  code: '100'
                  source:
                    pointer: /data/attributes/toolTarget/name
                  status: '422'
                  meta:
                    validationCode: CANNOT_BE_BLANK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                      required:
                      - name
                  required:
                  - type
                  - id
                  - attributes
              required:
              - data
            example:
              data:
                type: presentationArtifactTools
                id: 00000000-0000-0000-0000-000000000001
                attributes:
                  name: Updated Slide Generator
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: TD1
