openapi: 3.2.0
info:
  title: llm-api Text Resource API
  version: 1.0.0
servers:
- url: https://llm-api.treasuredata.com
- url: https://llm-api.eu01.treasuredata.com
- url: https://llm-api.ap02.treasuredata.com
- url: https://llm-api.treasuredata.co.jp
security:
- ApiKeyAuth: []
tags:
- name: TextResource
paths:
  /api/text_resources:
    get:
      summary: index
      tags:
      - TextResource
      parameters:
      - name: filter[fulltext]
        in: query
        required: false
        schema:
          type: string
        example: nothing
      - name: filter[name]
        in: query
        required: false
        schema:
          type: string
        example: name
      - name: include
        in: query
        required: false
        schema:
          type: string
        example: createdBy,updatedBy
      - name: sort
        in: query
        required: false
        schema:
          type: string
        example: id
      responses:
        '200':
          description: includes by created_by and updated_by
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                          required:
                          - self
                        attributes:
                          type: object
                          properties:
                            createdAt:
                              type: string
                            updatedAt:
                              type: string
                            name:
                              type: string
                            description:
                              type:
                              - string
                              - 'null'
                            text:
                              type: string
                          required:
                          - createdAt
                          - updatedAt
                          - name
                          - description
                          - text
                        relationships:
                          type: object
                          properties:
                            createdBy:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    id:
                                      type: string
                                  required:
                                  - type
                                  - id
                              required:
                              - data
                            updatedBy:
                              type: object
                              properties:
                                data:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    id:
                                      type: string
                                  required:
                                  - type
                                  - id
                              required:
                              - data
                          required:
                          - createdBy
                          - updatedBy
                      required:
                      - id
                      - type
                      - links
                      - attributes
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                    required:
                    - total
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                    required:
                    - first
                    - last
                  included:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                            email:
                              type: string
                          required:
                          - name
                          - email
                      required:
                      - id
                      - type
                      - attributes
                required:
                - data
                - meta
                - links
              example:
                data:
                - id: 00000000-0000-0000-0000-000000000001
                  type: textResources
                  links:
                    self: http://www.example.com/api/text_resources/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    name: jhkhgcxl
                    description: null
                    text: Sint qui explicabo. Ipsum sequi ut. Aut necessitatibus laudantium.
                  relationships:
                    createdBy:
                      data:
                        type: users
                        id: 00000000-0000-0000-0000-000000000001
                    updatedBy:
                      data:
                        type: users
                        id: 00000000-0000-0000-0000-000000000001
                - id: 00000000-0000-0000-0000-000000000001
                  type: textResources
                  links:
                    self: http://www.example.com/api/text_resources/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    name: wrngnbxn
                    description: null
                    text: Quod et reiciendis. Aliquam corrupti numquam. Vero dicta non.
                  relationships:
                    createdBy:
                      data:
                        type: users
                        id: 00000000-0000-0000-0000-000000000001
                    updatedBy:
                      data:
                        type: users
                        id: 00000000-0000-0000-0000-000000000001
                meta:
                  total: 2
                links:
                  first: http://www.example.com/api/text_resources?include=createdBy%2CupdatedBy&page%5Blimit%5D=20&page%5Boffset%5D=0
                  last: http://www.example.com/api/text_resources?include=createdBy%2CupdatedBy&page%5Blimit%5D=20&page%5Boffset%5D=0
                included:
                - id: 00000000-0000-0000-0000-000000000001
                  type: users
                  attributes:
                    name: Admin User
                    email: admin@example.com
                - id: 00000000-0000-0000-0000-000000000001
                  type: users
                  attributes:
                    name: Restricted User
                    email: user@example.com
        '401':
          description: Rejected by 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: '401'
                error: User credentials aren't set on the request
    post:
      summary: create
      tags:
      - TextResource
      responses:
        '201':
          description: creates a new text_resource
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          text:
                            type: string
                        required:
                        - createdAt
                        - updatedAt
                        - name
                        - description
                        - text
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: textResources
                  links:
                    self: http://www.example.com/api/text_resources/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    name: name 1
                    description: description 1
                    text: text 1
        '401':
          description: Rejected by 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: '401'
                error: User credentials aren't set on the request
        '422':
          description: POST /api/text_resources rejects {"text":"<BASE64_CONTENT>"}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                          - pointer
                        status:
                          type: string
                        meta:
                          type: object
                          properties:
                            validationCode:
                              type: string
                          required:
                          - validationCode
                      required:
                      - title
                      - detail
                      - code
                      - source
                      - status
                      - meta
                required:
                - errors
              example:
                errors:
                - title: is too long (maximum is 18000 characters)
                  detail: text - is too long (maximum is 18000 characters)
                  code: '100'
                  source:
                    pointer: /data/attributes/text
                  status: '422'
                  meta:
                    validationCode: IS_TOO_LONG
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        text:
                          type: string
                      required:
                      - name
                      - description
                      - text
                  required:
                  - type
                  - attributes
              required:
              - data
            example:
              data:
                type: text_resources
                attributes:
                  name: name 1
                  description: description 1
                  text: text 1
  /api/text_resources/{id}:
    delete:
      summary: destroy
      tags:
      - TextResource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '204':
          description: Text resource deleted successfully
        '401':
          description: Unauthorized - authentication credentials are missing or invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: '401'
                error: User credentials aren't set on the request
        '404':
          description: Text resource not found
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Record not found
                  detail: The record identified by 00000000-0000-0000-0000-000000000001 could not be found.
                  code: '404'
                  status: '404'
    get:
      summary: show
      tags:
      - TextResource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '200':
          description: returns the details of a specific text_resource
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          name:
                            type: string
                          description:
                            type:
                            - string
                            - 'null'
                          text:
                            type: string
                        required:
                        - createdAt
                        - updatedAt
                        - name
                        - description
                        - text
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: textResources
                  links:
                    self: http://www.example.com/api/text_resources/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    name: jsblqvmy
                    description: null
                    text: Laudantium quisquam magni. Quo vel fuga. Quas quibusdam quos.
        '401':
          description: Rejected by 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: '401'
                error: User credentials aren't set on the request
        '404':
          description: GET /api/text_resources/:id returns 404 Not Found
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Record not found
                  detail: The record identified by 00000000-0000-0000-0000-000000000001 could not be found.
                  code: '404'
                  status: '404'
    patch:
      summary: update
      tags:
      - TextResource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '200':
          description: updates a text_resource
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          name:
                            type: string
                          description:
                            type: string
                          text:
                            type: string
                        required:
                        - createdAt
                        - updatedAt
                        - name
                        - description
                        - text
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: textResources
                  links:
                    self: http://www.example.com/api/text_resources/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    name: updated name
                    description: updated description
                    text: updated text
        '401':
          description: Rejected by 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: string
                required:
                - status
                - error
              example:
                status: '401'
                error: User credentials aren't set on the request
        '404':
          description: PATCH /api/text_resources/:id returns 404 Not Found
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Record not found
                  detail: The record identified by 00000000-0000-0000-0000-000000000001 could not be found.
                  code: '404'
                  status: '404'
        '422':
          description: PATCH /api/text_resources rejects {"text":"<BASE64_CONTENT>"}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                          - pointer
                        status:
                          type: string
                        meta:
                          type: object
                          properties:
                            validationCode:
                              type: string
                          required:
                          - validationCode
                      required:
                      - title
                      - detail
                      - code
                      - source
                      - status
                      - meta
                required:
                - errors
              example:
                errors:
                - title: is too long (maximum is 18000 characters)
                  detail: text - is too long (maximum is 18000 characters)
                  code: '100'
                  source:
                    pointer: /data/attributes/text
                  status: '422'
                  meta:
                    validationCode: IS_TOO_LONG
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                        text:
                          type: string
                      required:
                      - name
                      - description
                      - text
                  required:
                  - type
                  - id
                  - attributes
              required:
              - data
            example:
              data:
                type: text_resources
                id: 00000000-0000-0000-0000-000000000001
                attributes:
                  name: updated name
                  description: updated description
                  text: updated text
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: TD1
