openapi: 3.2.0
info:
  title: llm-api Image Generator API
  version: 1.0.0
servers:
- url: https://llm-api.treasuredata.com
- url: https://llm-api.eu01.treasuredata.com
- url: https://llm-api.ap02.treasuredata.com
- url: https://llm-api.treasuredata.co.jp
security:
- ApiKeyAuth: []
tags:
- name: ImageGenerator
paths:
  /api/image_generators:
    post:
      summary: create
      tags:
      - ImageGenerator
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      properties:
                        projectId:
                          type: string
                        name:
                          type: string
                        imageModelType:
                          type: string
                        imageReturnMode:
                          type: string
                      required:
                      - projectId
                      - name
                      - imageModelType
                      - imageReturnMode
                  required:
                  - type
                  - attributes
              required:
              - data
            example:
              data:
                type: imageGenerators
                attributes:
                  projectId: 00000000-0000-0000-0000-000000000001
                  name: Sample Image Generator
                  imageModelType: nova-canvas
                  imageReturnMode: ID
      responses:
        '201':
          description: creates a new ImageGenerator
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          projectId:
                            type: string
                          name:
                            type: string
                          imageModelType:
                            type: string
                          imageReturnMode:
                            type: string
                          isManaged:
                            type: boolean
                        required:
                        - createdAt
                        - updatedAt
                        - projectId
                        - name
                        - imageModelType
                        - imageReturnMode
                        - isManaged
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: imageGenerators
                  links:
                    self: http://www.example.com/api/image_generators/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    projectId: 00000000-0000-0000-0000-000000000001
                    name: Sample Image Generator
                    imageModelType: nova-canvas
                    imageReturnMode: ID
                    isManaged: false
        '400':
          description: POST /api/image_generators rejects {"updatedAt":1}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Param not allowed
                  detail: updatedAt is not allowed.
                  code: '105'
                  status: '400'
        '422':
          description: POST /api/image_generators rejects {"imageReturnMode":null}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                          - pointer
                        status:
                          type: string
                        meta:
                          type: object
                          properties:
                            validationCode:
                              type: string
                          required:
                          - validationCode
                      required:
                      - title
                      - detail
                      - code
                      - source
                      - status
                      - meta
                required:
                - errors
              example:
                errors:
                - title: is not included in the list
                  detail: imageReturnMode - is not included in the list
                  code: '100'
                  source:
                    pointer: /data/attributes/imageReturnMode
                  status: '422'
                  meta:
                    validationCode: INVALID_FORMAT_OR_ASSOCIATION
  /api/image_generators/{id}:
    delete:
      summary: destroy
      tags:
      - ImageGenerator
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '204':
          description: Image generator deleted successfully
    get:
      summary: show
      tags:
      - ImageGenerator
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '200':
          description: returns the details of a specific image_generator
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          projectId:
                            type: string
                          name:
                            type: string
                          imageModelType:
                            type: string
                          imageReturnMode:
                            type: string
                          isManaged:
                            type: boolean
                        required:
                        - createdAt
                        - updatedAt
                        - projectId
                        - name
                        - imageModelType
                        - imageReturnMode
                        - isManaged
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: imageGenerators
                  links:
                    self: http://www.example.com/api/image_generators/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    projectId: 00000000-0000-0000-0000-000000000001
                    name: GenDetail
                    imageModelType: nova-canvas
                    imageReturnMode: ID
                    isManaged: false
    patch:
      summary: update
      tags:
      - ImageGenerator
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        example: 00000000-0000-0000-0000-000000000001
      responses:
        '200':
          description: updates the image_generator
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          createdAt:
                            type: string
                          updatedAt:
                            type: string
                          projectId:
                            type: string
                          name:
                            type: string
                          imageModelType:
                            type: string
                          imageReturnMode:
                            type: string
                          isManaged:
                            type: boolean
                        required:
                        - createdAt
                        - updatedAt
                        - projectId
                        - name
                        - imageModelType
                        - imageReturnMode
                        - isManaged
                    required:
                    - id
                    - type
                    - links
                    - attributes
                required:
                - data
              example:
                data:
                  id: 00000000-0000-0000-0000-000000000001
                  type: imageGenerators
                  links:
                    self: http://www.example.com/api/image_generators/00000000-0000-0000-0000-000000000001
                  attributes:
                    createdAt: '2025-05-01T05:05:14.000Z'
                    updatedAt: '2025-05-01T05:05:14.000Z'
                    projectId: 00000000-0000-0000-0000-000000000001
                    name: Updated Name
                    imageModelType: nova-canvas
                    imageReturnMode: ID
                    isManaged: false
        '400':
          description: PATCH /api/image_generators rejects {"updatedAt":1}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        status:
                          type: string
                      required:
                      - title
                      - detail
                      - code
                      - status
                required:
                - errors
              example:
                errors:
                - title: Param not allowed
                  detail: updatedAt is not allowed.
                  code: '105'
                  status: '400'
        '422':
          description: PATCH /api/image_generators rejects {"imageReturnMode":null}
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        detail:
                          type: string
                        code:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                          required:
                          - pointer
                        status:
                          type: string
                        meta:
                          type: object
                          properties:
                            validationCode:
                              type: string
                          required:
                          - validationCode
                      required:
                      - title
                      - detail
                      - code
                      - source
                      - status
                      - meta
                required:
                - errors
              example:
                errors:
                - title: is not included in the list
                  detail: imageReturnMode - is not included in the list
                  code: '100'
                  source:
                    pointer: /data/attributes/imageReturnMode
                  status: '422'
                  meta:
                    validationCode: INVALID_FORMAT_OR_ASSOCIATION
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: string
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                      required:
                      - name
                  required:
                  - type
                  - id
                  - attributes
              required:
              - data
            example:
              data:
                type: imageGenerators
                id: 00000000-0000-0000-0000-000000000001
                attributes:
                  name: Updated Name
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: TD1
