openapi: 3.2.0
info:
  title: Treasure Data Users API
  version: '1.0'
  description: 'Operations tagged Users across 2 of this provider''s published API definitions: treasure-data-td-api-openapi.yml, treasure-data-td-api-v3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.treasuredata.com/v3
  description: Treasure Data API v3
- url: https://api.treasuredata.co.jp/v3
- url: https://api.ap02.treasuredata.com/v3
- url: https://api.eu01.treasuredata.com/v3
tags:
- name: Users
  description: User management
paths:
  /user/list:
    get:
      operationId: listUsers
      summary: List users
      description: Returns the list of users in the account.
      tags:
      - Users
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/show:
    get:
      operationId: showCurrentUser
      summary: Show current user
      description: Returns information about the currently authenticated user.
      tags:
      - Users
      responses:
        '200':
          description: Current user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/remove/{user_email}:
    post:
      operationId: removeUser
      summary: Remove a user
      description: Deletes the specified user account.
      tags:
      - Users
      parameters:
      - name: user_email
        in: path
        required: true
        schema:
          type: string
          format: email
        description: Email address of the user to remove
      responses:
        '200':
          description: User removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/create_with_sso/{user_first_name}:
    post:
      operationId: createUserWithSSO
      summary: Create user with SSO
      description: Allows the admin to create a user with SSO authentication.
      tags:
      - Users
      parameters:
      - name: user_first_name
        in: path
        required: true
        schema:
          type: string
        description: First name of the new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - identifier
              properties:
                email:
                  type: string
                  format: email
                identifier:
                  type: string
      responses:
        '200':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/enforce_sso/{user_email}:
    post:
      operationId: enforceSSOForUser
      summary: Enforce SSO for user
      description: Allows admin to make it mandatory for a user to login with SSO.
      tags:
      - Users
      parameters:
      - name: user_email
        in: path
        required: true
        schema:
          type: string
          format: email
        description: Email address of the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOUserRequest'
      responses:
        '200':
          description: SSO enforced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/enable_sso/{user_email}:
    post:
      operationId: enableSSOForUser
      summary: Enable SSO for user
      description: Allows admin to permit a user to login with SSO.
      tags:
      - Users
      parameters:
      - name: user_email
        in: path
        required: true
        schema:
          type: string
          format: email
        description: Email address of the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOUserRequest'
      responses:
        '200':
          description: SSO enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/disable_sso/{user_email}:
    post:
      operationId: disableSSOForUser
      summary: Disable SSO for user
      description: Allows admin to prohibit a user from logging in with SSO.
      tags:
      - Users
      parameters:
      - name: user_email
        in: path
        required: true
        schema:
          type: string
          format: email
        description: Email address of the user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sso_setting:
                  type: object
                  properties:
                    user_email:
                      type: string
      responses:
        '200':
          description: SSO disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
      - TDAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
      description: Treasure Data API v3
  /user/delegated_admin/add/{user_email}:
    parameters:
    - $ref: '#/components/parameters/path_user_email'
    post:
      summary: Promote a user to a delegated Admin
      description: Promotes a user to a delegated admin.
      operationId: promoteDelegatedAdmin
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  user_email:
                    $ref: '#/components/schemas/User/properties/email'
                  delegated_admin:
                    type: boolean
                    example: true
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
    - url: https://api.treasuredata.co.jp/v3
    - url: https://api.ap02.treasuredata.com/v3
    - url: https://api.eu01.treasuredata.com/v3
  /user/delegated_admin/remove/{user_email}:
    parameters:
    - $ref: '#/components/parameters/path_user_email'
    post:
      summary: Demote a user from a delegated admin
      description: Demotes a user from a delegated admin.
      operationId: demoteDelegatedAdmin
      tags:
      - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  user_email:
                    $ref: '#/components/schemas/User/properties/email'
                  delegated_admin:
                    type: boolean
                    example: false
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://api.treasuredata.com/v3
    - url: https://api.treasuredata.co.jp/v3
    - url: https://api.ap02.treasuredata.com/v3
    - url: https://api.eu01.treasuredata.com/v3
components:
  schemas:
    SSOUserRequest:
      type: object
      properties:
        sso_setting:
          type: object
          properties:
            user_email:
              type: string
            identifier:
              type: string
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        name:
          type: string
        account_owner:
          type: boolean
        administrator:
          type: boolean
        organization:
          type: string
        roles:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        gravatar_url:
          type: string
        phone:
          type: string
        identifier:
          type: string
    SSOUserResponse:
      type: object
      properties:
        first_name:
          type: string
        email:
          type: string
        identifier:
          type: string
    User_2:
      title: User
      description: User
      type: object
      additionalProperties: false
      required:
      - id
      - account_owner
      - administrator
      - created_at
      - email
      - first_name
      - gravatar_url
      - last_name
      - phone
      - updated_at
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        account_owner:
          description: whether the user is Account owner or not
          type: boolean
          example: true
        administrator:
          description: whether the user is Administrator or not
          type: boolean
          example: true
        created_at:
          $ref: '#/components/schemas/DateTimeISO8601'
        email:
          description: the email user uses to log in
          type: string
          format: email
          example: td@example.com
        first_name:
          description: first name
          type:
          - string
          - 'null'
          example: Treasure
        gravatar_url:
          description: gravatar url
          type: string
          example: http://foo
        identifier:
          $ref: '#/components/schemas/SSOIdentifier'
        full_qualified_identifier:
          $ref: '#/components/schemas/SSOFullQualifiedIdentifier'
        setting_name:
          $ref: '#/components/schemas/SSOSettingName'
        last_name:
          description: last name
          type:
          - string
          - 'null'
          example: Data
        name:
          description: user's full name or email
          type: string
          example: Treasure Data
        organization:
          deprecated: true
          type:
          - string
          - 'null'
        phone:
          description: phone number
          type:
          - string
          - 'null'
          example: (650) 469-3644
        roles:
          deprecated: true
          type: array
          items:
            type: string
        updated_at:
          $ref: '#/components/schemas/DateTimeISO8601'
        delegated_admin:
          description: whether the user is a Delegated Admin or not. This attribute is available if the account enables the delegated-admin feature flag.
          type: boolean
          example: true
        delegated_policy_groups:
          description: The list of policy groups this user manages as delegated admin. This attribute is available if the account enables the delegated-admin feature flag.
          type: array
          items:
            type: string
        policy_group_tags:
          description: The list of tag names belonging to this user. This attribute is available if the account enables the delegated-admin feature flag.
          type: array
          items:
            type: string
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Resource not found
    Unauthorized:
      description: Authentication required or API key invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
  parameters:
    path_user_email:
      name: user_email
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/User/properties/email'
  securitySchemes:
    TDAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Treasure Data API key authentication. Set header value to "TD1 <your-api-key>".

        '
    ApiKeyAuth:
      type: http
      scheme: TD1
x-refined-from:
- treasure-data-td-api-openapi.yml
- treasure-data-td-api-v3-openapi.yml
