openapi: 3.0.1
info:
  title: cdp-api
  description: >-
    All of the CDP APIs are organized around REST - if you've interacted with a
    RESTful API already, many of the concepts will be familiar to you. All API
    calls to CDP API should be made to the following endpoints depending on the
    [region](https://docs.treasuredata.com/display/public/PD/Sites+and+Endpoints#SitesandEndpoints-Endpoints).
    For historical reasons there are REST API endpoints and JSON:API endpoints.
    JSON:API endpoints are located under "/entities".
  termsOfService: https://www.treasuredata.com/terms/
  version: 1.0.0
externalDocs:
  description: Treasure Data Support Site
  url: https://support.treasuredata.com/hc/en-us
servers:
  - url: https://api-cdp.treasuredata.com
  - url: https://api-cdp.treasuredata.co.jp
  - url: https://api-cdp.eu01.treasuredata.com
  - url: https://api-cdp.ap02.treasuredata.com
  - url: https://api-cdp.ap03.treasuredata.com
tags:
  - name: Parent Segment Configurations
    description: >-
      Defining a data model for customer data is done by defining parent
      segments. Parent segments give you an ability to build a single view of a
      customer, including capturing all interactions, such as attributes and
      behaviors associated with your brand. In parent segments, you unify your
      customer data. When the customer data is unified, you can create customer
      segments without writing any SQL queries. You can personalize customer
      communications and conversations of any size and in any channel.<br> <br>
      <br>_Treasure Data is making an effort to use more inclusive language in
      its product, content, and customer solutions. As we gradually make the
      move to replace insensitive language beginning in our UI, you may continue
      to see parent segments in the UI, for example, referenced as master
      segment in portions of Treasure Data APIs._
  - name: Parent Segments
    description: >-
      After you have created the parent segment, you can view data about the
      parent segment, such as details about a single segment, audience data, the
      list of segment folders it contains, or a list of parent segments
      available.
  - name: Segments
    description: >-
      In marketing, a segment is a container that groups profiles (usually
      people) who share one or more common characteristics. In Treasure Data,
      the parent segment is your total population of people, accounts, or other
      type of collection and can be both existing and potential customers. <br>
      <br>You create segments to divide the population into subgroups of
      consumers based on some type of shared characteristics. Segments and
      subsegments enable more specific targeting for your marketing campaigns.
      <br> <br> <br>_Treasure Data is making an effort to use more inclusive
      language in its product, content, and customer solutions. As we gradually
      make the move to replace insensitive language beginning in our UI, you may
      continue to see parent segments in the UI, for example, referenced as
      master segment in portions of Treasure Data APIs._
  - name: Folders
    description: >-
      Folders are containers in which you can organize information. Nested
      folders offer flexible organization controls. Large volumes of data and
      application assets can be organized into multi-nested folders by
      categories such as geographical markets, brands, and business functions.
      Granular permissions can be set for each folder to ensure security.
  - name: Activations
    description: >-
      Activation is the process that allows marketers to personalize
      communication to users interested in your brand. <br> <ul> <li> **Funnel
      activation** &mdash; Create a funnel activation for each funnel stage. The
      activation exports to external marketing tools for campaigns or BI tools
      for analysis and reporting.</li> <li> **Segment activation** &mdash;
      Activate the segment data (export) to external tools for activities such
      as marketing campaigns, business analysis, and social media. Targets
      include Email Marketing Systems, Marketing Automation Systems, Advertising
      Platforms, CRM, ERP, Cloud Services, and SFTP.</li> </ul><br>_Known
      formerly as syndication in Audience Studio Legacy. You may continue to see
      syndication referenced in Treasure Data APIs._
  - name: Tokens
    description: >-
      The Profiles API Token enables your ability to increase personalized
      content based on detailed customer information. This REST API returns
      customer data in real-time and updates your segment information. The
      ability to create a Profiles API token is based on your <a
      href="https://docs.treasuredata.com/display/public/PD/Folder-based+Permissions">folder
      permissions.</a> <br> <br> You can also use Profiles API Token to
      personalize your customers' experience on your website. You can combine
      Treasure Data’s personalization feature with A/B Testing tools such as
      Adobe Target, Optimizely, or Google Optimize, to determine the version of
      your website that yields results. <br> <br> When the underlying
      personalization workflow completes, the personalization data set is
      refreshed. You can see a current list of the segments to which a specific
      profile belongs. You can also see a list of attributes associated with the
      specific profile.<br> <br> The parent segment must already exist. The
      parent segment is the basis for all data accessed by Profiles API Tokens.
      <br> <br> The use of the Profiles API Token with your tools requires the
      use of the Treasure Data JavaScript SDK and support or services
      consultation.
  - name: Funnels
    description: >-
      One of the challenges of targeting customers with relevant campaigns is
      understanding where they are in their customer journey. Many organizations
      use the traditional marketing funnel to understand where their customers
      are in the buying process. Knowing where customers are in the marketing
      funnel allows organizations to create campaigns and analyze customer
      behaviors that are specific to individual customers or customer groups.
      Being able to use all available customer data to accurately identify
      exactly in which stage customers are in gives marketers a clear advantage.
      <br> <br> Treasure Data offers Funnels, a premium subscription feature in
      Audience Studio, which provides this advantage to its users. Funnels make
      it easier for marketers to see exactly where their customers are in the
      buying process, allowing them to create more customer-tailored marketing
      campaigns using multi-channel activations.<br> <br> Funnels enables
      marketers to create and customize a marketing funnel with up to eight
      stages in the Audience Studio to reflect the exact buying experience of
      their customers. After the Funnel stages have been created, marketers can
      further analyze and refine the stages and activate specific stages for
      campaigns.
  - name: Predictive Segments
    description: >-
      Using Treasure Data’s predictive scoring model, based on predictive
      segments, marketers can predict profile behavior such as who is likely to
      churn, purchase, click, or convert in the near future. <br> <br> A
      predictive model is a set of rules that makes it possible to predict an
      unmeasured value from other, known values. The form of the rules is
      suggested by reviewing the data collected. Training is then used to make
      some predictions. Predictive modeling uses statistics to predict outcomes.
      <br><br>Predictive modeling is a typically used statistical technique to
      predict future behavior. Predictive modeling solutions analyze historical
      and current data and the generated model helps predict future outcomes. In
      predictive modeling, data is collected, a statistical model is formulated,
      predictions are made, and the model is validated (or revised) as
      additional data becomes available. For example, risk models can be created
      to combine member information in complex ways with demographic and
      lifestyle information from external sources to improve underwriting
      accuracy. Predictive models analyze past performance to assess how likely
      a customer is to exhibit a specific behavior in the future. This category
      also encompasses models that seek out subtle data patterns to answer
      questions about customer performance, such as fraud detection models.
      Predictive models often perform calculations during live transactions—for
      example, to evaluate the risk or opportunity of a given customer or
      transaction to guide a decision. <br> <br> Treasure Data’s predictive
      scoring model uses predictive segments to customize predictive scoring
      models for a particular segment.
  - name: Journeys
    description: >-
      In Audience Studio, a journey represents a timeline of events that can
      help you motivate a customer’s behavior about your product. After
      marketers create journey stages, they can further analyze and refine the
      stages and activate specific stages for campaigns. <br><br> _Journeys is a
      premium feature. Contact your Customer Success Representative for more
      information._
  - name: Activation Templates
    description: >-
      Marketers find creating an activation challenging because they have to
      enter technical information they might not understand, which can lead to
      activations failing due to misconfigurations. Treasure Data solves this
      problem with the Activation Template. The Activation Template allows data
      engineers to create templates with pre-populated fields so that the
      marketer can confidently create an activation.
  - name: Composable Audiences
    description: >-
      Composable Audiences enable zero-copy audience management by connecting
      directly to external data warehouses (Snowflake, BigQuery, Databricks)
      without moving data. This approach supports federated queries that execute
      in-place on customer data, providing faster insights and reducing data
      duplication. Composable Audiences include features for attribute and
      behavior tracking, segment preview queries, and sample value retrieval for
      data exploration.
  - name: Composable Segments
    description: >-
      Composable Segments are segments defined for composable audiences, using
      federated query execution on external data warehouses. They enable
      zero-copy segmentation with rule-based filtering executed directly on
      customer data in Snowflake, BigQuery, or Databricks.
paths:
  /audiences:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve list of parent segment configurations
      description: >-
        Retrieve a list of parent segment configurations by name. You can get
        the parent segment's schedules, created_by, the parent database name and
        tables, its attributes and behaviors, as well as the population for the
        retrieved Parent Segment.
      operationId: audiences#index
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Audience'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Parent Segment Configurations
      summary: Create new parent segment configuration
      description: Create a new parent segment configuration.
      operationId: audiences#create
      requestBody:
        description: Create a new Master Segment Config
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Audience'
        required: true
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve parent segment configuration by ID
      description: >-
        Search and find a specified parent segment configuration by its
        identifier.
      operationId: audiences#show
      parameters:
        - name: audienceId
          in: path
          description: ID of Master Segment Config to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/Audience'
                  - $ref: '#/components/schemas/ComposableAudience'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    put:
      tags:
        - Parent Segment Configurations
      summary: Update parent segment configuration
      description: >
        Update the specified parent segment configuration by its identifier.


        **Important: Update Behavior and the `master` Field**


        This endpoint supports two different update modes depending on whether
        the `master` field is included in the request body:


        1. **Partial Update (without `master` field)**: When the `master` field
        is omitted, only the scalar fields (e.g., `name`, `description`,
        `scheduleType`) in the request body are updated. The `attributes`,
        `behaviors`, and `audienceFilters` collections are left untouched, even
        if they are omitted or set to `null` or `[]` in the request.


        2. **Full Replacement (with `master` field)**: When the `master` field
        is included in the request body, the endpoint performs a full
        replacement of `attributes`, `behaviors`, and `audienceFilters`. All
        existing entries in these collections are deleted and replaced with
        exactly what is provided in the request:
           - If `attributes`, `behaviors`, or `audienceFilters` are omitted, set to `null`, or set to `[]`, those collections will be **cleared** (all existing entries deleted).
           - Only the items explicitly included in the request body will exist after the update.
           - This is a destructive operation that cannot be undone.

        **Recommendations**:

        - For partial updates of scalar fields only: omit the `master` field
        from the request body.

        - For full replacement: include the `master` field and provide complete
        definitions for `attributes`, `behaviors`, and `audienceFilters` to
        avoid unintended data loss.
      operationId: audiences#update
      parameters:
        - name: audienceId
          in: path
          description: ID of Master Segment Config that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Audience'
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Parent Segment Configurations
      summary: Delete parent segment configuration
      description: Delete a previously created parent segment configuration.
      operationId: audiences#delete
      parameters:
        - name: audienceId
          in: path
          description: Master Segment Config id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '404':
          description: Master Segment Config not found
          content: {}
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/attributes:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve list of audience attributes
      description: >-
        Retrieve a list of parent segment attributes. You can also specify the
        visibility level for sensitive attributes.
      operationId: audience_attributes#index
      parameters:
        - name: audienceId
          in: path
          description: ID of Master Segment Config to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/AudienceAttributeWithVisibility'
                    - $ref: '#/components/schemas/AudienceMasterAttribute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/behaviors:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve list of audience behaviors
      description: Retrieve a list of parent segment behaviors.
      operationId: audience_behaviors#index
      parameters:
        - name: audienceId
          in: path
          description: ID of Master Segment Config to return
          required: true
          schema:
            type: integer
            format: int64
        - name: realtime
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudienceBehaviorWithVisibility'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/run:
    x-external: true
    post:
      tags:
        - Parent Segment Configurations
      summary: Run workflow to (re)generate parent segment
      description: Run the workflow to generate or regenerate a parent segment.
      operationId: audiences#run
      parameters:
        - name: audienceId
          in: path
          description: Master Segment Config id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Succeeded to run the workflow
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceExecution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/folders:
    x-external: true
    get:
      tags:
        - Parent Segments
      summary: Retrieve list of segment folders
      description: >-
        Retrieve a list of segment folders based on a parent segment's
        identifier.
      parameters:
        - name: audienceId
          in: path
          description: Master segment ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: |
            Retrieves a list of segment folders.

            N.B. that `createdAt` can be `null`, meaning that it is not known
            which user created the folder.

            N.B. that `updatedAt` can be `null`, meaning that is is not known
            which user last updated the folder.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SegmentFolderReadRepresentation'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Folders
      summary: Create new segment folder
      description: Create a new parent segment folder.
      parameters:
        - name: audienceId
          in: path
          description: Master segment ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Segment Folder to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentFolderCreateRepresentation'
      responses:
        '200':
          description: Returns the segment folder which was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentFolderReadRepresentation'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/folders/{folderId}:
    x-external: true
    get:
      tags:
        - Folders
      summary: Retrieve single segment folder
      description: Retrieve a single segment folder based on a parent segment identifier.
      parameters:
        - name: audienceId
          in: path
          description: Master segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: path
          description: Segment Folder ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: |
            Retrieves a single segment folder.

            N.B. that `createdAt` can be `null`, meaning that it is not known
            which user created the folder.

            N.B. that `updatedAt` can be `null`, meaning that is is not known
            which user last updated the folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentFolderReadRepresentation'
      security:
        - TdApikeyAuth: []
    patch:
      tags:
        - Folders
      summary: Update segment folder (legacy)
      description: >-
        Update a segment folder. <br> <br> <br> _This endpoint is for Audience
        Studio legacy. For the latest Audience Studio, contact your Customer
        Success Representative._
      parameters:
        - name: audienceId
          in: path
          description: Master segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: path
          description: Segment folder to update
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Segment Folder to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentFolderUpdateRepresentation'
      responses:
        '200':
          description: |
            Retrieves the segment folder which was updated

            N.B. that `createdAt` can be `null`, meaning that it is not known
            which user created the folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentFolderReadRepresentation'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Folders
      summary: Delete segment folder (legacy)
      description: >-
        Delete a segment folder.<br> <br> <br> _This endpoint is for Audience
        Studio legacy. For the latest Audience Studio, contact your Customer
        Success Representative._
      parameters:
        - name: audienceId
          in: path
          description: Master segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: path
          description: Segment folder to update
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The segment folder was deleted successfully
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/folders/{folderId}/put_in:
    x-external: true
    post:
      tags:
        - Folders
      summary: Move segment into folder (legacy)
      description: >-
        Move a segment or segments into an existing folder. <br> <br> <br> _This
        endpoint is for Audience Studio legacy. For the latest Audience Studio,
        contact your Customer Success Representative._
      parameters:
        - name: audienceId
          in: path
          description: Master segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: path
          description: Segment folder to put segments in
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Segment ids to move
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/executions:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve list of executions using audienceId
      description: >-
        Retrieve a list of workflow executions, whether they were succesful or
        not, and their status.
      operationId: audiences#executions
      parameters:
        - name: audienceId
          in: path
          description: Master Segment Config id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Succeeded to run the workflow
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudienceExecution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/statistics:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve population statistics audience
      description: >-
        Retrieve the population history of the audience. The history is returned
        per day and those days are calculated in the timezone of the audience.
      operationId: audiences#statistics
      parameters:
        - name: audienceId
          in: path
          description: Master Segment Config id to delete
          required: true
          schema:
            type: integer
            format: int64
            example: 1234
        - name: from
          in: query
          description: from date
          schema:
            type: string
            format: date
            example: '2019-01-01'
        - name: to
          in: query
          description: to date (inclusive)
          schema:
            type: string
            format: date
            example: '2019-04-30'
      responses:
        '200':
          description: array of tuple of statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments:
    x-external: true
    get:
      tags:
        - Segments
      summary: Retrieve list of segments
      description: Retrieve a list of segments.
      operationId: segments#index
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Segments
      summary: Create new segment
      description: Create a new segment.
      operationId: segments#create
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Segment parameters to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentParameters'
        required: true
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/folders/{folderId}/segments:
    x-external: true
    get:
      tags:
        - Segments
      summary: Retrieve list of segments in a folder
      description: Retrieve a list of segments in a folder.
      operationId: segment_folders#segments
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: path
          description: Segment Folder ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/folders/{folderId}/syndications:
    x-external: true
    get:
      tags:
        - Activations
      summary: Retrieve list of activations recursively under a folder
      description: >-
        Retrieve a list of activations (formerly syndications) recursively under
        a folder.
      operationId: segment_folders#syndications
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the syndications
          required: true
          schema:
            type: integer
            format: int64
        - name: folderId
          in: path
          description: Segment Folder ID
          required: true
          schema:
            type: integer
            format: int64
        - name: sorted_by
          in: query
          required: false
          description: a sort key with an option
          schema:
            type: string
            format: '{sort_key}:{option}'
          examples:
            connection_type_asc:
              value: connection_type:asc
              summary: >-
                Sorted by connection_type in an ascending order (Note that
                Pagination parameters page[size] and page[after] are ignored if
                sorted by connection_type)
            segment_id_asc:
              value: segment_id:asc
              summary: Sorted by segment_id in an ascending order
            segment_name_desc:
              value: segment_name:desc
              summary: Sorted by segment_name in an descending order
            activation_template_id_desc:
              value: activation_template_id:desc
              summary: Sorted by activation_template_id in an descending order
            activation_template_name_asc:
              value: activation_template_name:asc
              summary: Sorted by activation_template_name in an ascending order
            start_at_desc:
              value: start_at:desc
              summary: Sorted by start_at in an descending order
            repeat_unit_asc:
              value: repeat_unit:asc
              summary: Sorted by repeat_unit in an ascending alphabetical order
            created_by_td_user_id_asc:
              value: created_by_td_user_id:asc
              summary: Sorted by the User ID of created_by in an ascending order
            created_by_user_name_desc:
              value: created_by_user_name:desc
              summary: Sorted by the User Name of created_by in an descending order
            updated_at_desc:
              value: updated_at:desc
              summary: Sorted by updated_at in an descending order
            created_at_desc:
              value: created_at:desc
              summary: Sorted by created_at in an descending order
        - name: name_include
          in: query
          required: false
          description: >-
            filter by Activation's name to return only Activations whose name
            includes the value
          schema:
            type: string
        - name: segment_name_include
          in: query
          required: false
          description: >-
            filter by Segment's name to return only Activations whose Segment
            name includes the value
          schema:
            type: string
        - name: start_after
          in: query
          required: false
          description: filter by start_at to return only Activations that starts after
          schema:
            type: string
            format: date-time
        - name: start_before
          in: query
          required: false
          description: filter by start_at to return only Activations that starts before
          schema:
            type: string
            format: date-time
        - name: connection_type
          in: query
          required: false
          description: >-
            filter by Connection Type return only Activations whose Connection
            Types match (Note that Pagination parameters page[size] and
            page[after] are ignored if connection_type is specified)
          schema:
            type: array
            items:
              type: string
        - name: schedule_status
          in: query
          required: false
          description: filter by schedule_status
          schema:
            type: array
            items:
              type: string
              enum:
                - none
                - inactive
                - scheduled
                - active
          style: form
          explode: false
        - name: created_by_td_user_id
          in: query
          required: false
          description: filter by the User ID of created_by
          schema:
            type: array
            items:
              type: integer
              format: int64
          style: form
          explode: false
        - name: activation_template_id
          in: query
          required: false
          description: >-
            filter by activation_template_id, "none" matches with an Activation
            that has no Activation Template, but it does not match with an
            Activation that has a deleted Activation Template
          schema:
            type: array
            items:
              oneOf:
                - type: integer
                  format: int64
                - type: string
                  enum:
                    - none
          style: form
          explode: false
        - name: repeat_unit
          in: query
          required: false
          description: filter by repeat_unit
          schema:
            type: array
            items:
              type: string
              enum:
                - hour
                - day
                - week
                - month
                - minute
                - once
                - none
          style: form
          explode: false
        - name: page[after]
          in: query
          description: An opaque cursor to get the next syndications
          schema:
            type: string
        - name: page[size]
          in: query
          description: The paginated number of syndications to get
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  syndications:
                    type: array
                    items:
                      $ref: '#/components/schemas/SyndicationOverview'
                  pagination:
                    type: object
                    additionalProperties: true
                    properties:
                      hasNext:
                        type: boolean
                      nextPage:
                        type: string
                      approximateCount:
                        type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/query:
    x-external: true
    post:
      tags:
        - Segments
      summary: Retrieve SQL from segment rule
      description: Retrieve a SQL from a segment rule.
      operationId: segments#query
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Segment parameters to create
        content:
          application/json:
            schema:
              type: object
              properties:
                format:
                  type: string
                  enum:
                    - sql
                realtime:
                  type: boolean
                  deprecated: true
                  description: use `kind` instead
                kind:
                  type: integer
                  description: '0: batch, 1: realtime, 2: funnel_stage'
                rule:
                  $ref: '#/components/schemas/partial_v5_rule.yaml-v5IonRule'
                funnel_stage:
                  type: object
                  properties:
                    funnel_id:
                      type: integer
                      format: int64
                    stage_id:
                      type: integer
                      format: int64
                  description: required if creating segment as a rule of funnel_stage
        required: true
      responses:
        '200':
          description: batch segment query
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: >-
                      batch segment query; return if the requestBody is
                      realtime=false
                    additionalProperties: false
                    properties:
                      sql:
                        type: string
                  - type: object
                    description: >-
                      realtime segment query; return if the requestBody is
                      realtime=true
                    required:
                      - sql
                      - statement
                      - batch_workflows
                    properties:
                      sql:
                        type: string
                      statement:
                        type: object
                        description: an object tree which will be sent to cdp-kvs-server
                      batch_workflows:
                        type: object
                        description: >-
                          workflow definition; key is file namd and value is
                          file content of the generating workflow.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/queries:
    x-external: true
    post:
      tags:
        - Segments
      summary: Retrieve number of profiles based on set of segment rules
      description: Retrieve the number of profiles produced by a set of segment rules.
      operationId: segments#new_query
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    type: string
                realtime:
                  type: boolean
                  deprecated: true
                  description: use `kind` instead
                kind:
                  type: integer
                  description: '0: batch, 1: realtime, 2: funnel_stage'
                rule:
                  $ref: '#/components/schemas/partial_v5_rule.yaml-v5IonRule'
                funnel_stage:
                  type: object
                  properties:
                    funnel_id:
                      type: integer
                      format: int64
                    stage_id:
                      type: integer
                      format: int64
                  description: required if creating segment as a rule of funnel_stage
                pageSize:
                  type: integer
                maxPage:
                  type: integer
                enableMv:
                  type: string
                  description: '"true", "false"'
                filterString:
                  type: string
                  example: Alex
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentQueryStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/{segmentId}:
    x-external: true
    get:
      tags:
        - Segments
      summary: Retrieve segment by ID
      description: Retrieve a segment based on its identifier.
      operationId: segments#show
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: ID of Segment to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    put:
      tags:
        - Segments
      summary: Update segment
      description: Update a segment.
      operationId: segments#update
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: ID of Segment that needs to be updated
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentParameters'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Segments
      summary: Delete segment (legacy)
      description: >-
        Delete a segment. <br> <br> <br> _This endpoint is for Audience Studio
        legacy. For the latest Audience Studio, contact your Customer Success
        Representative._
      operationId: segments#delete
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: Segment id to delete
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/queries/{queryId}:
    x-external: true
    get:
      tags:
        - Segments
      summary: Retrieve status of query
      description: Retrieve the status of a query.
      operationId: segments#query_status
      parameters:
        - name: audienceId
          in: path
          description: Audience ID of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: queryId
          in: path
          description: ID of query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentQueryStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/queries/{queryId}/kill:
    x-external: true
    post:
      tags:
        - Segments
      summary: Kill current running query of segment
      description: Kill the current running query associated with the segment.
      operationId: segments#kill_query
      parameters:
        - name: audienceId
          in: path
          description: Audience ID of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: queryId
          in: path
          description: ID of query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: >-
                      A message indicates canceling query didn't complete
                      successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/queries/{queryId}/customers:
    x-external: true
    get:
      tags:
        - Segments
      summary: Retrieve profiles of query
      description: Retrieve the profiles of a query.
      operationId: segments#index_query_customers
      parameters:
        - name: audienceId
          in: path
          description: Audience ID of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: queryId
          in: path
          description: ID of query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: number
            minimum: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SegmentQueryCustomers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/{segmentId}/statistics:
    x-external: true
    get:
      tags:
        - Segments
      summary: Retrieve population statistics of segment
      description: >-
        Retrieve the population history of the segment. The history is returned
        per day and those days are calculated in the timezone of the audience.
        Note that funnel_stage kind doesn't have statistics via this endpoint.
      operationId: segments#statistics
      parameters:
        - name: audienceId
          in: path
          description: Audience ID of the segment
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: ID of Segment to return
          required: true
          schema:
            type: integer
            format: int64
        - name: from
          in: query
          description: from date
          schema:
            type: string
            format: date
            example: '2019-01-01'
        - name: to
          in: query
          description: to date (inclusive)
          schema:
            type: string
            format: date
            example: '2019-04-30'
      responses:
        '200':
          description: array of tuple of statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statistic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/{segmentId}/syndications:
    x-external: true
    get:
      tags:
        - Activations
      summary: Retrieve list of activations in segment
      description: >-
        Retrieve a list of activations (formerly syndications) associated with a
        segment.
      operationId: syndications#index
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Syndication'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Activations
      summary: Create activation
      description: Create a new activation (formerly syndication).
      operationId: syndications#create
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Syndication parameters to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyndicationParameters'
        required: true
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/{segmentId}/syndications/{syndicationId}:
    x-external: true
    get:
      tags:
        - Activations
      summary: Retrieve activation by ID
      description: Retrieve an activation (formerly syndication) based on its identifier.
      operationId: syndications#show
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: syndicationId
          in: path
          description: ID of Syndication to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Syndication'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    put:
      tags:
        - Activations
      summary: Update activation
      description: Update an activation (formerly syndication).
      operationId: syndications#update
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: syndicationId
          in: path
          description: ID of Syndication to return
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyndicationParameters'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Syndication'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Activations
      summary: Delete activation
      description: Delete an activation (formerly syndication).
      operationId: syndications#delete
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          description: Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: syndicationId
          in: path
          description: ID of Syndication to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/segments/{segmentId}/syndications/{syndicationId}/run:
    x-external: true
    post:
      tags:
        - Activations
      summary: Run activation (legacy)
      description: >-
        Run an activation (formerly syndication). <br> <br> <br> _This endpoint
        is for Audience Studio legacy. For the latest Audience Studio, contact
        your Customer Success Representative._
      operationId: syndications#run
      parameters:
        - name: audienceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: syndicationId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Succeeded to run the Syndication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndicationExecution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/syndications:
    x-external: true
    get:
      tags:
        - Activations
      summary: Retrieve list of activations in audience
      description: >-
        Retrieve a list of activations (formerly syndications) associated with a
        parent segment ID and view their status and/or schedules.
      operationId: audience_syndications#index
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the syndication
          required: true
          schema:
            type: integer
            format: int64
        - name: without_detail
          in: query
          description: >-
            If true, the response does not include the detail of the
            syndication, such as valid, and executions.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Syndication'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/tokens:
    x-external: true
    get:
      tags:
        - Tokens
      summary: Retrieve list of Profile API tokens
      description: >-
        Retrieve a list of Profile API tokens associated with a parent segment
        ID.
      operationId: tokens#index
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the token
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Tokens
      summary: Create new Profiles API token (legacy)
      description: >-
        Create a new Profiles API token. <br> <br> <br> _This endpoint is for
        Audience Studio legacy. For the latest Audience Studio, contact your
        Customer Success Representative._
      operationId: tokens#create
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the token
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Token parameters to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenParameters'
        required: true
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/tokens/{tokenId}:
    x-external: true
    get:
      tags:
        - Tokens
      summary: Retrieve Profiles API token by ID
      description: Retrieve a specific Profiles API token by its identifier.
      operationId: tokens#show
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the token
          required: true
          schema:
            type: integer
            format: int64
        - name: tokenId
          in: path
          description: ID of Token to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    put:
      tags:
        - Tokens
      summary: Update Profiles API token (legacy)
      description: >-
        Update a Profiles API token. <br> <br> <br> _This endpoint is for
        Audience Studio legacy. For the latest Audience Studio, contact your
        Customer Success Representative._
      operationId: tokens#update
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the token
          required: true
          schema:
            type: integer
            format: int64
        - name: tokenId
          in: path
          description: ID of Token to return
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenParameters'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Tokens
      summary: Delete a Profiles API token (legacy)
      description: >-
        Delete a Profiles API token. <br> <br> <br> _This endpoint is for
        Audience Studio legacy. For the latest Audience Studio, contact your
        Customer Success Representative._
      operationId: tokens#delete
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID of the token
          required: true
          schema:
            type: integer
            format: int64
        - name: tokenId
          in: path
          description: ID of Token to return
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/funnels:
    x-external: true
    get:
      tags:
        - Funnels
      summary: List of funnels
      description: >-
        Retrieves a list of funnels associated with a parent segment identifier
        and its stages.
      operationId: funnels#index
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: succeeded to get
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Funnels
      summary: Create funnel (legacy)
      description: >-
        Create a new funnel, assign it a name and description matching your
        business needs. <br> <br> <br> _This endpoint is for Audience Studio
        legacy. For the latest Audience Studio, contact your Customer Success
        Representative._
      operationId: funnels#create
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Funnel parameters to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelParameters'
        required: true
      responses:
        '200':
          description: Succeeded to create funnel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/funnels/{funnelId}:
    x-external: true
    get:
      tags:
        - Funnels
      summary: Retrieve funnel by ID
      description: Search and find a specific funnel by its identifier. <br> <br> <br>
      operationId: funnels#show
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: funnelId
          in: path
          description: Funnel ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: succeeded to get
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    put:
      tags:
        - Funnels
      summary: Update funnel (legacy)
      description: >-
        Update a funnel. <br> <br> <br> _This endpoint is for Audience Studio
        legacy. For the latest Audience Studio, contact your Customer Success
        Representative._
      operationId: funnels#update
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: funnelId
          in: path
          description: Funnel ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Funnel parameters to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelParameters'
        required: true
      responses:
        '200':
          description: Succeeded to update funnel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Funnels
      summary: Delete funnel (legacy)
      description: >-
        Delete a funnel. <br> <br> <br> _This endpoint is for Audience Studio
        legacy. For the latest Audience Studio, contact your Customer Success
        Representative._
      operationId: funnels#delete
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: funnelId
          in: path
          description: Funnel ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Succeeded to delete funnel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/funnels/{funnelId}/clone:
    x-external: true
    post:
      tags:
        - Funnels
      summary: Clone funnel
      description: Make a copy of a funnel.
      operationId: funnels#clone
      parameters:
        - name: audienceId
          in: path
          description: Master Segment ID
          required: true
          schema:
            type: integer
            format: int64
        - name: funnelId
          in: path
          description: Funnel ID to be cloned
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Funnel parameters to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunnelCloneParameters'
        required: true
      responses:
        '200':
          description: Succeeded to update funnel
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Funnel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/funnels/{funnelId}/statistics:
    x-external: true
    get:
      tags:
        - Funnels
      summary: Retrieve the population statistics of a funnel and its funnel stages
      description: >-
        Retrieve the population history of a funnel. The history is returned per
        day and those days are calculated in the timezone of the audience.
      operationId: funnels#statistics
      parameters:
        - name: audienceId
          in: path
          description: Audience ID of the funnel
          required: true
          schema:
            type: integer
            format: int64
        - name: funnelId
          in: path
          description: ID of funnel to return
          required: true
          schema:
            type: integer
            format: int64
        - name: from
          in: query
          description: from date
          schema:
            type: string
            format: date
            example: '2019-01-01'
        - name: to
          in: query
          description: to date (inclusive)
          schema:
            type: string
            format: date
            example: '2019-04-30'
        - name: limit
          in: query
          description: number of days to fetch funnel statistics
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: array of tuple of statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunnelStatistic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /master_segments:
    x-external: true
    get:
      tags:
        - Parent Segments
      summary: Retrieve audience data
      description: >-
        Retrieve the audiences for which the current user can view its produced
        data e.g. segments, profiles, activations.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                    population:
                      type: number
                      nullable: true
                    updatedAt:
                      type: string
                    updatedBy:
                      $ref: '#/components/schemas/User'
                    matrixUpdatedAt:
                      type: string
                      nullable: true
                    scheduleType:
                      $ref: '#/components/schemas/ScheduleType'
  /audiences/{audienceId}/sample_values:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: Retrieve list of values for a parent segment configuration's attribute
      description: >-
        Retrieve a list of sample values associated with the attributes of a
        parent segment configuration.
      operationId: audiences#sample_values
      parameters:
        - name: audienceId
          in: path
          description: ID of Master Segment Config to return
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: column
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
        - in: query
          name: samples
          schema:
            type: number
            minimum: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleValuesPayload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/behaviors/{audienceBehaviorId}/sample_values:
    x-external: true
    get:
      tags:
        - Parent Segment Configurations
      summary: >-
        Retrieve list of sample values for a parent segment configuration's
        behavior
      description: >-
        Retrieve a list of sample values for a parent segment's behavior that
        are useful in understanding data syntax or patterns for further analysis
        or activation.
      operationId: audiences_behaviors#sample_values
      parameters:
        - name: audienceId
          in: path
          description: ID of Master Segment Config to operate on
          required: true
          schema:
            type: integer
            format: int64
        - name: audienceBehaviorId
          in: path
          description: ID of Master Segment Config behavior to operate on
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: column
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
        - in: query
          name: samples
          schema:
            type: number
            minimum: 1
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleValuesPayload'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/predictive_segments:
    x-external: true
    get:
      tags:
        - Predictive Segments
      summary: Retrieve list of predictive scoring models
      description: >-
        Retrieve a list of predictive scoring models in the specified parent
        segment.
      operationId: predictive_segments#index
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the predictive segment
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PredictiveSegment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    post:
      tags:
        - Predictive Segments
      summary: Create predictive scoring model (legacy)
      description: >-
        Create a new predictive scoring model. <br> _This endpoint is for
        Audience Studio legacy. For the latest Audience Studio, contact your
        Customer Success Representative._
      operationId: predictive_segments#create
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the preditive segment
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Predictive Segment parameters to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictiveSegmentParameters'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictiveSegment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/predictive_segments/{predictiveSegmentId}:
    x-external: true
    get:
      tags:
        - Predictive Segments
      summary: Retrieve predictive scoring model
      description: Retrieve a specific predictive scoring model's statistics.
      parameters:
        - name: audienceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: predictiveSegmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictiveSegment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    patch:
      tags:
        - Predictive Segments
      summary: Update predictive scoring model (legacy)
      description: >-
        Update a predictive scoring model. <br> _This endpoint is for Audience
        Studio legacy. For the latest Audience Studio, contact your Customer
        Success Representative._
      operationId: predictive_segments#update
      parameters:
        - name: audienceId
          in: path
          description: Master Segment id of the predictive segment
          required: true
          schema:
            type: integer
            format: int64
        - name: predictiveSegmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        description: Predictive Segment parameters to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictiveSegmentParameters'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictiveSegment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
    delete:
      tags:
        - Predictive Segments
      summary: Delete predictive scoring model (legacy)
      description: >-
        Delete a predictive scoring model. <br> <br> <br> _This endpoint is for
        Audience Studio legacy. For the latest Audience Studio, contact your
        Customer Success Representative._
      operationId: predictive_segments#destroy
      parameters:
        - name: audienceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: predictiveSegmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictiveSegment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/predictive_segments/{predictiveSegmentId}/executions:
    x-external: true
    get:
      tags:
        - Predictive Segments
      summary: Retrieve predictive scoring model executions
      description: Retrieve a list of predictive scoring model executions and their status.
      parameters:
        - name: audienceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: predictiveSegmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PredictiveSegmentExecution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/predictive_segments/guess_rule_async:
    x-external: true
    get:
      tags:
        - Predictive Segments
      summary: Retrieve guessed rule
      description: >-
        Retrieve a list of guessed rules associated with a predictive scoring
        model.
      parameters:
        - name: audienceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: segmentId
          in: query
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - success
                      - running
                  rule:
                    $ref: '#/components/schemas/PredictiveSegmentRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        4XX:
          $ref: '#/components/responses/ClientError'
        5XX:
          $ref: '#/components/responses/ServerError'
      security:
        - TdApikeyAuth: []
  /audiences/{audienceId}/predictive_segments/{predictiveSegmentId}/model/columns:
    x-external: true
    get:
      tags:
        - Predictive Segments
      summary: Retrieve column list
      description: Retrieve the column list used in a predictive scoring model.
      parameters:
        - name: audienceId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: predictiveSegmentId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
[...]
